<p>dynamic-table works!</p>


Search in

<select [(ngModel)]="headerForFiltering">
    <option *ngFor = "let v of tableData.headers" [ngValue]="v"> {{v}} </option>
</select>
<br/>
Search value: <input type="text" [(ngModel)]="valueForFiltering" />
<button type="button" (click)="filter()">Search it!</button>
<button type="button" (click)="resetFilterResults()">Reset</button>


<section>
    <p>Sorted by (in order) :
        @for ( h of filterOption.headers; track h; let i = $index){
            <span>{{h}} {{filterOption.ordersAsc[i]? "&#x2191;":"&#x2193;"}}, </span>
        }
    </p>
    <span>pages:</span>

    @for ( page of [].constructor(totalPages); track $index ; let i = $index ) {
        <span [attr.data-pageNo]="i+1" (click)="switchToPage(i+1)"> {{i+1}} </span>

    }
    <p>page At {{pageAt}}</p>
</section>

<table>
    <thead>
    <tr>
        <th *ngFor = "let header of displayedTableData.headers" (click)="modifyFilterOptionThenMultiSort(header)">{{header}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let object of displayedTableData.items; let i = index">
       <!-- <td *ngFor = "let field of object | keyvalue : null">{{field.value}}</td>  -->
        <td *ngFor = "let header of displayedTableData.headers">{{displayedTableData.items[i][header] ?? ''  }}</td>
    </tr>
    </tbody>
</table>

